@media (min-width: 1281px){

  
    body{
   /*  background-color:black; */


    }

@media (min-width: 1025px){

}

    body{
      /*  background-color:red; */

    }


*{
    margin: 0;
    
}
body{
    background-image: url("background.jpg");
    background-repeat:no-repeat;
    background-size: 100%; 

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
}